/*
#map-canvas {
  width: 100%;
  height: 100%;
  line-height: normal;
}
*/
.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.infoWindow {
  height: 100% !important;
  overflow: hidden !important;
  min-width: 250px;
}

.infoWindow a {
  color: #426e70;
  text-decoration: none;
}