/* Home Page */
.home-logo {
    width: 200px;
    margin-top: 90px;
    float: right;
    border-radius: 2px;
    box-shadow: #ccc 1px 1px 10px;
}

/* Override default text-size */
p {
    font-weight: 300;
}

strong {
    font-weight: 400;
}

.home-page 
p {
    font-weight: 300;
    font-size: 18px;
}

.home-page strong {
    font-weight: 400;
}

/* Image handling for presentation */

.img-thumbnail {
    border-radius: 2px;
}

.img-container {
    height: 260px;
    width: 290px;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.img-pres {
    width: 100%;
}

.img-table {
    height: 32px;
}

.img-description {
    height: 100px;
    width: auto;
}

.empty {
    height: 50px;
}

.proj-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/* About page */
.about-page img {
    box-shadow: #ccc 1px 1px 8px;
}

.img-contact {
    height: 130px;
    width: auto;
    margin: 1.5em 0 0.4em;
}

.about-page h4 {
    margin-top: 1.2em;
    font-weight: 400;
}

.about-contact {
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-label {
    font-weight: 400;
}

.about-part {
    margin-bottom: 10em;
}

#about-climat {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

#about-ac-img {
    margin-top: 3.5em;
    border-radius: 2px;
}

#about-historique-img {
    margin-top: 1em;
}

#menu-panel {
    margin-top: 42px; 
    padding-right: 0px;
}

#menu {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    padding-top: 5px;
}

.back-top a {
    color: #008CBA;
}

.back-top a:hover {
    color: #008CBA;
    text-decoration: none;
}

/* Overrides page-header defaults */
.page-header {
    margin: 42px 0 21px;
    padding-top: 20px;
}

.page-header:first-child {
    margin: 21px 0;
}

/* Override form-control of bootswatch */
.form-control {
    font-size: 12px;
}

.filler {
    height: 50px;
}

/* Custom navbar colors */
/* navbar */
.navbar-default {
    /*background-color: #E18000;*/
    background-color: #EB9100;
    /*border-color: #E7E7E7;*/
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

/* title 
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
*/
/* link */
.navbar-default .navbar-nav > li > a {
    transition: background-color 0.1s ease-out;
}
/*
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #676767;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #676767;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #676767;
}

/* caret 
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version 
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
*/